body{
  margin-top:40px;
}

.cta {
display: block;
padding: 30px;
border: 3px dotted #eee;
border-radius: 12px;
margin: 0 3%;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.cta .name {
opacity: 0.2;
}


.cta img {
padding: 4px;
line-height: 1.0;
background-color: #fff;
border: 1px dashed #ddd;
border-radius: 4px;
}

a:hover{
  text-decoration:none;
}


.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}

.shiny-btn {
  background-color: #0dd6dd; /* Gradient background color */
  background-image: linear-gradient(315deg, #8cdaf1 0%, #56b4c0 74%); /* Gradient background image */
  border: none; /* Remove button border */
  color: white; /* Button text color */
  padding: 1px 2px; /* Button padding */
  text-align: center; /* Center button text */
  text-decoration: none; /* Remove text decoration */
  display: inline-block; /* Display button as inline-block */
  font-size: 16px; /* Button font size */
  border-radius: 0px; /* Rounded button corners */
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
}

.shiny-btn:hover {
  cursor: pointer; /* Change cursor on hover */
  background-image: linear-gradient(315deg, #1b7579 0%, #84c7f3 74%); /* Change background gradient on hover */
}
