.myitems-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 30px;
  padding: 20px;
}

.myitems-card {
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
  border-radius: 20px;
}

.myitems-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 30px;
  background: #f0f0f0;
}

.myitems-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.myitems-details {
    padding: 30px;
}

.myitems-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.myitems-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.myitems-details h4 a:hover {
    color: #fbb72c;
}

.myitems-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.myitems-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.myitems-bottom-details div {
    float: left;
    width: 50%;
}

.myitems-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.myitems-links {
    text-align: right;
}

.myitems-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.myitems-links a:hover {
    color: #fbb72c;
}
