// Define variables for your color scheme

// For example:
.basic-palette {
$normal-pink: #FF7070;
$white: #ffffff;
$black: #111111;
$light-pink: #ffa3a3;
$heavy-pink: #ff3d3d;
$grey-light: #e6e6e6;
}
