<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <!-- Contact Info-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Get In Touch With Us</h3>
            <a href="mailto:team@allshare.online">
            <p class="text-white">E-Mail: team@allshare.online</p>
            </a>
            <%= render "shared/social_media" %>

          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Mobile App Buttons-->
          <section class="widget widget-light-skin">
            <h3 class="widget-title">Our Mobile App</h3><a class="market-button apple-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-button google-button mb-light-skin" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- About Us-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">About...</h3>
            <ul>
              <li><%= link_to "About us", about_us_path %></li>
              <li><%= link_to "How it works", how_it_works_path %></li>
              <li><a href="#">services</a></li>
            </ul>
          </section>
        </div>
        <div class="col-lg-3 col-md-6">
          <!-- Account / Shipping Info-->
          <section class="widget widget-links widget-light-skin">
            <h3 class="widget-title">Account Info</h3>
            <ul>
              <li><a href="#">Your Account/ Log In/ Sign Up</a></li>
              <li> <form class="subscribe-form" action="#" method="post" target="_blank" novalidate="">
                    <div class="clearfix">
                    <div class="input-group input-light" style="float: left;">
                    <input class="form-control" type="email" name="EMAIL" placeholder="Subscribe to our newsletter" style="float: left; width: 220px; max-width: 250px;">
                    <button class="btn btn-primary mt-2" type="submit" style="float: left; margin-left: 0px; margin-top: 5px;">Subscribe
                    </button>
              </li>
              </div>

            </div>
          </form>
            </ul>
          </section>

        </div>
      </div>
      <hr class="hr-light mt-2 margin-bottom-2x">
    </div>
  </footer>

<style>
ul {
  list-style: none;
}
</style>
