<!--Bootstrap CDN-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" />

<!--CDN End Here-->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="profile-card">
        <div class="profile-img">
        <img src="assets/s.png" alt="Team Image" />
        </div>
        <div class="profile-content">
          <h2 class="title">Stephan
            <span>Knorn</span>
          </h2>
          <ul class="social-link">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="profile-card">
        <div class="profile-img">
        <img src="assets/c.png" alt="Team Image" />
        </div>
        <div class="profile-content">
          <h2 class="title">Ciprian
            <span>Crisan</span>
          </h2>
          <ul class="social-link">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="profile-card">
        <div class="profile-img">
          <%= image_tag "l.png" %>
        </div>
        <div class="profile-content">
          <h2 class="title">Lorenzo
            <span>Bertolino</span>
          </h2>
          <ul class="social-link">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="profile-card">
        <div class="profile-img">
          <%= image_tag "f.png" %>
        </div>
        <div class="profile-content">
          <h2 class="title">Fahad
            <span>Jibran</span>
          </h2>
          <ul class="social-link">
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-google"></a></li>
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-youtube"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
