<div class="search-form">
  <%= form_with url: items_path, method: :get, class: "d-flex" do |form| %>
    <div class="search-input-container">
      <div class="search-icon-container">
        <i class="fas fa-search search-icon"></i>
      </div>
      <%= form.text_field :query,
        value: params[:query],
        class: "search-input",
        placeholder: "Search items..."
      %>
    </div>
    <%= form.submit "Search", class: "search-button" %>
  <% end %>
</div>
