<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="">
  <div class="container">
    <i class="fa fa-twitter" id="twitter"></i>
    <i class="fa-brands fa-square-instagram" id="instagram"></i>
    <i class="fa fa-facebook-square" id="facebook"></i>
  </div>
