<div class="container">
<div class="row">
    <div class="col-md-4 margin-btm-20">
        <div class="quote dark">
            <blockquote>
                <p>
                    "This is my second rental with Antonio - great equipment, great price and brilliant service!"
                </p>
            </blockquote>
        </div>
        <div class="quote-footer text-right">
            <div class="quote-author-img">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            </div>
            <h4>Rakesh Sharma</h4>
            <p>
                <strong>London</strong>
            </p>
        </div>
    </div><!--colored quote box col-->
    <div class="col-md-4 margin-btm-20">
        <div class="quote green">
            <blockquote>
                <p>
                    "Mario was a super nice, chilled out guy and his gear was perfect for my project. Highly recommend."
                </p>
            </blockquote>
        </div>
        <div class="quote-footer text-right">
            <div class="quote-author-img">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
            </div>
            <h4>Stephan K</h4>
            <p>
                <strong>Berlin</strong>
            </p>
        </div>
    </div><!--colored quote box col-->
    <div class="col-md-4 margin-btm-20">
        <div class="quote dark">
            <blockquote>
                <p>
                    "Excellent communication, absolutely lovely people, amazing gimbal and an incredibly smooth process!"
                </p>
            </blockquote>
        </div>
        <div class="quote-footer text-right">
            <div class="quote-author-img">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
            </div>
            <h4>Lorenzo B</h4>
            <p>
                <strong>Milan</strong>
            </p>
        </div>
    </div><!--colored quote box col-->
</div><!--testimonials row-->
</div>

<div class="container">
            <div class="row">
                <div class="col-md-4 margin-btm-20">
                    <div class="quote dark">
                        <blockquote>
                            <p>
                                "Brilliant guy and very easy to deal with. Great kit and really easy to collect and return equipment."
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                        </div>
                        <h4>Adam</h4>
                        <p>
                            <strong>Manchester</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
                <div class="col-md-8 margin-btm-20">
                    <div class="quote green">
                        <blockquote>
                            <p>
                                I highly recommend to experience the AllShare. The client support is really caring about your need and they are here to support you. I m very happy to have been one of their clients and I am monthly renting their camera. Try it and you will love them as I am. Their camera is very professional and useful for personal needs.
                            </p>
                        </blockquote>
                    </div>
                    <div class="quote-footer text-right">
                        <div class="quote-author-img">
                            <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                        </div>
                        <h4>Cipirian</h4>
                        <p>
                            <strong>Paris</strong>
                        </p>
                    </div>
                </div><!--colored quote box col-->
            </div><!--testimonials row-->
        </div>
