<section class="section about-section gray-bg" id="about">
  <div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-12">
        <div class="about-text go-to">
          <h1 class="dark-color">About us</h1>
            <h6 class="theme-color lead">AllShare &amp; AllAround</h6>
              <h5>We are an international <mark>skilled</mark> team of four, mixed up randomly out of attendees of a popular coding bootcamp: <mark>Le Wagon</mark>. We invented the <mark>AllShare!</mark> project to contribute our part for making the world a better place, to build up communities and to reduce individual carbon footprints. We are bringing people and their needs <mark>together.</mark></h5>
               <p> If you want to join us, don’t hesitate and <a href="mailto:team@allshare.online">mail</a> us to team@allshare.online.</p>
                <div class="counter">
                  <div class="row">
                    <div class="col-6 col-lg-3">
                      <div class="count-data text-center">
                        <h5 class="count h2" data-to="500" data-speed="500">500</h5>
                        <p class="m-0px font-w-600">Happy Clients</p>
                      </div>
                    </div>
                      <div class="col-6 col-lg-3">
                        <div class="count-data text-center">
                          <h5 class="count h2" data-to="150" data-speed="150">150</h5>
                          <p class="m-0px font-w-600">Project Completed</p>
                        </div>
                      </div>
                        <div class="col-6 col-lg-3">
                          <div class="count-data text-center">
                            <h5 class="count h2" data-to="850" data-speed="850">850</h5>
                            <p class="m-0px font-w-600">Photo Capture</p>
                          </div>
                        </div>
                          <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h5 class="count h2" data-to="190" data-speed="190">190</h5>
                                <p class="m-0px font-w-600">Telephonic Talk</p>
                            </div>
                        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
    <div class="row align-items-center flex-row-reverse">
      <div class="col-lg-12">
        <div class="about-text go-to">
          <h1 class="dark-color">Team AllShare</h1>
        </div>
      </div>
    </div>
</div>



<div class="container">
    <div class="row">
		<div class="col-md-3">
    	    <a class="cta text-center" href="#">
                <h2 class="name">Stephen K</h2>
                <%= image_tag 's.png' %>
                <h2>Idea</h2>
                <p>Everything begins with an idea                                                                                    </p>
            </a>
		</div>
		<div class="col-md-3">
    	    <a class="cta text-center" href="#">
                <h2 class="name">Ciprian C</h2>
                <%= image_tag "c.png" %>
                <h2>Knowledge</h2>
                <p>If you have knowledge, let others light their candles in it                                                     </p>
            </a>
		</div>
		<div class="col-md-3">
    	    <a class="cta text-center" href="#">
                <h2 class="name">Lorenzo B</h2>
                <%= image_tag "l.png" %>
                <h2>Hardwork</h2>
                <p>Experiments are necessary for the experiences that create growth and new opportunities</p>
            </a>
		</div>
    <div class="col-md-3">
    	    <a class="cta text-center" href="#">
                <h2 class="name">Fahad J</h2>
                <%= image_tag "f.png" %>
                <h2>Support</h2>
                <p>Success is not final; failure is not fatal: It is the courage to continue that counts</p>
            </a>
		</div>
	</div>
</div>
