<div class="about_us">
<h1>About us</h1>

<p>We are an international skilled team of four, mixed up randomly out of attendees of a popular coding bootcamp: Le Wagon. We invented the AllShare! project to contribute our part for making the world a better place, to build up communities and to reduce individual carbon footprints. We are bringing people and their needs together.</p>
<p>If you want to join us, don’t hesitate and <a href="mailto:team@allshare.online">mail</a> us to team@allshare.online.</p>
</div>

<style>

.about_us {
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}

.a:hover {
  color: #000;
  text-decoration: none;
  animation: blink 1s inifite;
}

</style>
