<head>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
<body class="about-us">
<div id="parallax-world-of-ugg">
<section>
    <div class="parallax-one">
      <h2>ABOUT US</h2>
    </div>
</section>

<section>
  <div class="block">
    <h4><span class="first-character sc">A</span>t AllShare!, we are a team of four skilled professionals from different parts of the world, who met at Le Wagon - a popular coding bootcamp. Our passion for building a better world, fostering communities, and reducing carbon footprints led us to create the AllShare! project. Our goal is to connect people and fulfill their needs by providing a safe and secure platform to rent items.</h4>
      <p class="line-break margin-top-10"></p>
      <h4><span class="first-character sc">L</span>ets start a new way of sharing with us. We understand the importance of trust and safety when renting items, which is why we have implemented strict measures to ensure the security of our community. Our Terms of Service state that renters are liable for any damage or failure to return an item and will be responsible for the full cost of replacement or repair, irrespective of the circumstances. However, if the renter fails to comply and payment is delayed, our team is always available to help resolve any issues. Our customer support team is here to assist you, and you can reach us at team@allshare.online.</h4>
      <p class="line-break margin-top-10"></p>
      <h4><span class="first-character sc">L</span>ove AllShare!, we believe in bringing people together and fostering a strong sense of community. Whether you're looking to rent an item or share one, we have got you covered. Join our platform today and become a part of our mission to create a better and more sustainable world.</h4>
        <p class="line-break margin-top-10"></p>
  </div>
</section>

<section>
  <div class="parallax-two">
    <h2>TEAM</h2>
  </div>
</section>
<p class="line-break margin-top-10"></p>
<center>
  <h3> If you want to join us, don’t hesitate and <a href="mailto:team@allshare.online">mail</a> us to team@allshare.online.</h3>
</center>
</div>
</body>

<div class="profile-cards-container">
  <%= render "shared/profile_cards" %>
</div>
