<div class="container-fluid">
  <div class="row banner" style="background-color: black;">
    <div class="col-md-6 left text-white py-5">
      <h1 class="display-4 fw-bold">Sharing Revolution<br>Building Connections<br>Stronger Community</h1>
      <p class="lead">With AllShare, you can quickly and easily post the items you're willing to share, and browse listings from others in your area. You can communicate with potential borrowers and arrange to meet up to share your items. Our platform also includes a rating system, so you can build trust with your neighbors and know that you're borrowing from reliable people.</p>
      <div class="d-flex justify-content-between search-form">
        <%= render "shared/search_form" %>
        <button type="button" class="shiny-btn">
          <a href="<%= new_item_path %>" class="list-item-link" style="color: black; text-decoration: none;">List item</a>
        </button>
      </div>
    </div>
    <div class="col-md-6 right py-5">
      <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-6">
          <%= render "shared/category_cards" %>
        </div>
      </div>
    </div>
  </div>
</div>
