<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-video-text">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="video_div">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Jp8lwnJwrsA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 align-self-center", style="text-align: justify;">
        <h1>How it works</h1>
        <p>Meanwhile you know our mission. You are interested in it?! That's why we want to give you some advice on how the project and our community, of which you are about to become part, works. Here're you'll find some additional useful information in the nearest future.</p>
      </div>
    </div>
  </div>
<div class="container bootstrap snippets bootdeys", style="display: flex; justify-content: center;">
  <div class="col-md-9">
          <div class="timeline-centered timeline-sm">
              <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:45 AM</span><span>Today</span></time>
                      <div class="timeline-icon bg-violet"><i class="fa fa-exclamation"></i></div>
                      <div class="timeline-label"><h4 class="timeline-title">Sam is looking for a camera</h4>

                      <p>he came across AllShare platform where people are offering products and services.</p></div>
                  </div>
              </article>
              <article class="timeline-entry left-aligned">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:50 AM</span><span>Today</span></time>
                      <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                      <div class="timeline-label bg-green"><h4 class="timeline-title">Match found</h4>

                      <p>Sam found a local person offering his camera at a resonable sharing price.</p></div>
                  </div>
              </article>
              <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-09T13:22" class="timeline-time"><span>12:52 PM</span><span>Today</span></time>
                      <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
                      <div class="timeline-label bg-orange"><h4 class="timeline-title">Booking...</h4>

                      <p><img src="45x45/" alt="" class="timeline-img pull-left">Sam booked the camera and waits for the camera owner to approve his bookings</p></div>
                  </div>

              </article>
              <article class="timeline-entry left-aligned">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-10T03:45" class="timeline-time"><span>12:55 AM</span><span>Today</span></time>
                      <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                      <div class="timeline-label bg-green"><h4 class="timeline-title">Approved...</h4>

                      <p>Camera owner accepted the Sam booking for 2 days.</p></div>
                  </div>
              </article>
              <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-09T13:22" class="timeline-time"><span>10:50 AM</span><span>14/12/2023</span></time>
                      <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
                      <div class="timeline-label bg-orange"><h4 class="timeline-title">Booked Day</h4>

                      <p><img src="45x45/" alt="" class="timeline-img pull-left">Sam picked the camera </p></div>
                  </div>

              </article>
              <article class="timeline-entry left-aligned">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-10T03:45" class="timeline-time"><span>09:55 AM</span><span>16/12/2023</span></time>
                      <div class="timeline-icon bg-green"><i class="fa fa-group"></i></div>
                      <div class="timeline-label bg-green"><h4 class="timeline-title">Returned...</h4>

                      <p>Sam returned the camera after 2 days.</p></div>
                  </div>
              </article>
              <article class="timeline-entry">
                  <div class="timeline-entry-inner">
                      <time datetime="2014-01-09T13:22" class="timeline-time"><span>10:50 AM</span><span>16/12/2023</span></time>
                      <div class="timeline-icon bg-orange"><i class="fa fa-paper-plane"></i></div>
                      <div class="timeline-label bg-orange"><h4 class="timeline-title">Happy Days....</h4>

                      <p><img src="45x45/" alt="" class="timeline-img pull-left">Sam picked the camera </p></div>
                  </div>


                  <div class="timeline-entry-inner">
                          <div style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);" class="timeline-icon"><i class="fa fa-plus"></i></div>
                  </div>
              </article>
          </div>
      </div>
</div>
