<h2>How it works</h2>

<p>On this page we should present our clients how the service works.</p>
<ul>
  <li>Step by step guide with pictures like a road map</li>
  <li>The impact they have on the planet by using our app</li>
  <li>Add buttons to list an item</li>
</ul>

<p>Let's see what we come up with!</p>
