<body class="how_it_works">

<div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="video_div">
          <iframe id="my-video" width="560" height="315" src="https://www.youtube.com/embed/Jp8lwnJwrsA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        </div>
      </div>
      <div class="col-lg-5 col-md-12 align-self-center", style="text-align: justify;">
        <h1>How it works</h1>
        <p>Meanwhile you know our mission. You are interested in it?! That's why we want to give you some advice on how the project and our community, of which you are about to become part, works. Here're you'll find some additional useful information in the nearest future.</p>
      </div>
    </div>
  </div>
<hr>
<div class="container">
<div class="main-timeline">

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">20-06-2022</span>
                                    <span class="year">10:00</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Problem</h5>
                                <p class="description">
                                    Mike on holidays and like to go on cycling trail with his friend, but he dont want to buy a new bicycle as he only needs for 2 days.
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">20-06-2022</span>
                                    <span class="year">10:15</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Search...</h5>
                                <p class="description">
                                    Mike search online to find any reasonable bicycles but the prices were to high and it makes no sense to buy a bicycle for 2 days.
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">20-06-2022</span>
                                    <span class="year">11:00</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">AllShare</h5>
                                <p class="description">
                                    Mike came across "www.allshare.online", where people are sharing goods and lukily he found a bicycle near him at a reasonable rent which war ideal for him.
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">20-06-2022</span>
                                    <span class="year">11:05</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Booking</h5>
                                <p class="description">
                                    Mike create his account on "AllShare" and made a booking for a bicycle, which was very simple and straight forward.
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">20-06-2022</span>
                                    <span class="year">11:10</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Confirmed</h5>
                                <p class="description">
                                    Mike`s booking confirmed within minutes, now all he needs is to pick the bike on requested date and time.
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                        <!-- start experience section-->
                        <div class="timeline">
                            <div class="icon"></div>
                            <div class="date-content">
                                <div class="date-outer">
                                    <span class="date">
                                            <span class="month">30-06-2022</span>
                                    <span class="year">13:00</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content">
                                <h5 class="title">Return</h5>
                                <p class="description">
                                    Mike return the bike with 5 star feedback ...Happy Days !
                                </p>
                            </div>
                        </div>
                        <!-- end experience section-->

                    </div>
</div>-->
</body>
