<h2>My favorite items</h2>

<ul>
  <% @my_favorite_items.each do |favorite| %>
    <li>
      <%= link_to favorite.favoritable.name, item_path(favorite.favoritable) %> - <%= favorite.favoritable.category %>
      <%= link_to current_user.favorited?(favorite.favoritable) ? "Unlike" : "Like",
        toggle_favorite_item_path(favorite.favoritable),
        data: {turbo_method: :post},
        remote: true %>
    </li>
    <%= image_tag item favorite.favoritable.pictures.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>
</ul>
