.container-footer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(244, 244, 244);
}

.container-footer-contact,
.container-footer-aboutus,
.container-footer-accountinfo {
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 33%;
}

.container-footer2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-footer-subscription,
.container-footer-sociallinks {
  display: flex;
  width: 50%;
  text-align: center;
  padding: 20px;
  flex-direction: row;
}

/* .container-footer-subscription button {
  margin-left: 10px;
} */

.subscribe-form {
  max-width: 250px;
}
