.navbar-lewagon {
  justify-content: space-between;
  // background: #374250;
  // top: 10;
  // left: 0;
  // right: 0;
  // height: fit-content;
  // z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
