<div class="review">
  <div class="rating">
    <%= star_rating(review.rating) %>
  </div>
  <div class="comment">
    <%= review.comment %>
  </div>
  <div class="author">
    <%= review.user.first_name %>
  </div>
</div>
